<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2020 Advanced Micro Devices, Inc
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->


<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
<Product Id="*" Name="$(var.ProductLongName)" Language="1033" Version="$(var.Version)"
	Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">

	<Package InstallerVersion="405" Platform="x64" Compressed="yes" InstallScope="perMachine"/>

	<!-- Updates -->
	<MajorUpgrade
		AllowSameVersionUpgrades="yes"
		DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

	<!-- UI stuff -->
	<MediaTemplate EmbedCab="yes"/>

	<Icon Id="amd_icon.ico" SourceFile=".\amd_icon.ico"/>
	<Property Id="ARPPRODUCTICON" Value="amd_icon.ico" />

	<Binary Id='InstallerDll' SourceFile='$(var.InstallerDll)' />

	<CustomAction Id='PostInstall' BinaryKey='InstallerDll' DllEntry='postInstall' Return="ignore" />
	
	<Property Id="OLD_VERSION_INSTALLED" Value="NotFound">
 		<RegistrySearch Id="OldVersionSearch" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\RadeonProRenderMaxPlugin"
 			Name="UninstallString" Root="HKLM" Type="raw" Win64="yes"/>
	</Property>

	<Condition Message="An old version of the plugin has been found. Please uninstall it then run setup.">
		<![CDATA[OLD_VERSION_INSTALLED = "NotFound"]]>
	</Condition>

	<Property Id="CACHE_PATH_2019">
		<RegistrySearch Id="RegSearchForCache2019" Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Type="raw" Name="CachePath2019" />
	</Property>

	<Property Id="CACHE_PATH_2020">
		<RegistrySearch Id="RegSearchForCache2020" Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Type="raw" Name="CachePath2020" />
	</Property>

	<Property Id="CACHE_PATH_2021">
		<RegistrySearch Id="RegSearchForCache2021" Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Type="raw" Name="CachePath2021" />
	</Property>
	
	<UI Id="MyWixUI_Mondo">
		<UIRef Id="WixUI_Wizard" />
		<UIRef Id="WixUI_ErrorProgressText" />
	</UI>

	<WixVariable Id="WixUILicenseRtf" Value=".\license.rtf" />
	<WixVariable Id="WixUIBannerBmp" Value=".\rpr_banner.png" />
	<WixVariable Id="WixUIDialogBmp" Value=".\rpr_dialog.png" />

	<InstallExecuteSequence>
		<InstallInitialize/>
		<CreateFolders/>
		<InstallFiles/>
		<InstallFinalize/>

	</InstallExecuteSequence>

	
	<!-- Step 1: Define the directory structure -->
	<Directory Id="TARGETDIR" Name="SourceDir">

		<Directory Id="ProgramFiles64Folder">
			<Directory Id="AMD" Name="$(var.Manufacturer)">
				<Directory Id="PRODUCTS_FOLDER" Name="$(var.ProductsFolder)">
					<Directory Id="MAX_FOLDER" Name="Max">
						<Directory Id="PLUGINS_FOLDER" Name="plug-ins">
							<Directory Id="MAX2019_FOLDER" Name="2019"/>
							<Directory Id="MAX2020_FOLDER" Name="2020"/>
							<Directory Id="MAX2021_FOLDER" Name="2021"/>
						</Directory>
						<Directory Id="DR_DATA" Name="data"/>
						<Directory Id="DR_BIN" Name="bin"/>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Directory Id="LocalAppDataFolder">
			<Directory Id="APPLOCAL_AUTODESK" Name="Autodesk">
				<Directory Id="APPLOCAL_3DSMAX" Name="3dsMax">
					<Directory Id="APPLOCAL_MAX2019" Name="2019 - 64bit">
						<Directory Id="APPLOCAL_2019_ENU" Name="ENU">
							<Directory Id="APPLOCAL_2019_EN_US" Name="en-US">
								<Directory Id="APPLOCAL_2019_PLUGCFG" Name="plugcfg">
									<Directory Id="APPLOCAL_2019_RPR" Name="Radeon ProRender"/>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
					<Directory Id="APPLOCAL_MAX2020" Name="2020 - 64bit">
						<Directory Id="APPLOCAL_2020_ENU" Name="ENU">
							<Directory Id="APPLOCAL_2020_EN_US" Name="en-US">
								<Directory Id="APPLOCAL_2020_PLUGCFG" Name="plugcfg">
									<Directory Id="APPLOCAL_2020_RPR" Name="Radeon ProRender"/>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
					<Directory Id="APPLOCAL_MAX2021" Name="2021 - 64bit">
						<Directory Id="APPLOCAL_2021_ENU" Name="ENU">
							<Directory Id="APPLOCAL_20201EN_US" Name="en-US">
								<Directory Id="APPLOCAL_2021_PLUGCFG" Name="plugcfg">
									<Directory Id="APPLOCAL_2021_RPR" Name="Radeon ProRender"/>
								</Directory>
							</Directory>
						</Directory>
					</Directory>

				</Directory>
			</Directory>
		</Directory>
		
	</Directory>

	<!-- Step 2: Add files to your installer package -->
	<DirectoryRef Id="MAX_FOLDER">
		<Component Id="Notices" Guid="d7020acd-f575-4755-8697-0ca3eabce90c" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="NoticesFile" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="notices.txt" Source="..\notices.txt" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="DR_BIN"/>

	<DirectoryRef Id="DR_DATA"/>

	<DirectoryRef Id="MAX2019_FOLDER">
		<Component Id="RadeonProRender2019" Guid="ea0e9b5a-4323-4969-b3ac-fb64901f3428" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2019" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2019\RadeonProRenderMaxPlugin.dlr"/>

			<IniFile Id="Ini2019.Delete" Action="removeLine" Directory="APPLOCAL_2019_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender"/>
			<IniFile Id="Ini2019.Add" Action="addTag" Directory="APPLOCAL_2019_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender" Value="[MAX2019_FOLDER]"/>

			<CreateFolder Directory="APPLOCAL_2019_RPR"/>

			<RegistryValue Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Name="CachePath2019" Type="string" Value="[APPLOCAL_2019_RPR]" KeyPath="yes" />
			<util:RemoveFolderEx On="uninstall" Property="CACHE_PATH_2019" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="MAX2020_FOLDER">
		<Component Id="RadeonProRender2020" Guid="8e727d56-09e6-4226-83d5-92c158768a83" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2020" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2020\RadeonProRenderMaxPlugin.dlr"/>

			<IniFile Id="Ini2020.Delete" Action="removeLine" Directory="APPLOCAL_2020_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender"/>
			<IniFile Id="Ini2020.Add" Action="addTag" Directory="APPLOCAL_2020_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender" Value="[MAX2020_FOLDER]"/>

			<CreateFolder Directory="APPLOCAL_2020_RPR"/>

			<RegistryValue Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Name="CachePath2020" Type="string" Value="[APPLOCAL_2020_RPR]" KeyPath="yes" />
			<util:RemoveFolderEx On="uninstall" Property="CACHE_PATH_2020" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="MAX2021_FOLDER">
		<Component Id="RadeonProRender2021" Guid="296c498d-adc5-4551-a829-82b227653c74" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2021" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2021\RadeonProRenderMaxPlugin.dlr"/>

			<IniFile Id="Ini2021.Delete" Action="removeLine" Directory="APPLOCAL_2021_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender"/>
			<IniFile Id="Ini2021.Add" Action="addTag" Directory="APPLOCAL_2021_ENU" Name="Plugin.UserSettings.ini" Section="Directories" Key="AMD Radeon ProRender" Value="[MAX2021_FOLDER]"/>

			<CreateFolder Directory="APPLOCAL_2021_RPR"/>

			<RegistryValue Root="HKCU" Key="Software\AMD\RadeonProRender\Max" Name="CachePath2021" Type="string" Value="[APPLOCAL_2021_RPR]" KeyPath="yes" />
			<util:RemoveFolderEx On="uninstall" Property="CACHE_PATH_2021" />
		</Component>
	</DirectoryRef>


	<!-- Step 3: Tell WiX to install the files -->
	<Feature Id="Product" Title="$(var.ProductName)" Description="$(var.ProductLongName)" Level="1" Display="expand">

		<Feature Id="RprCore" Title="Radeon ProRender Core" Description="$(var.ProductLongName) Core" Level="1" Absent="disallow" AllowAdvertise="no">
			<ComponentRef Id="Notices" />
			<ComponentGroupRef Id="CG_BIN" />
			<ComponentGroupRef Id="CG_DATA" />
		</Feature>

		<Feature Id="Product2019" Title="Support Max 2019" Description="$(var.ProductLongName) 2019" Level="1">
			<ComponentRef Id="RadeonProRender2019"/>
		</Feature>

		<Feature Id="Product2020" Title="Support Max 2020" Description="$(var.ProductLongName) 2020" Level="1">
			<ComponentRef Id="RadeonProRender2020"/>
		</Feature>

		<Feature Id="Product2021" Title="Support Max 2021" Description="$(var.ProductLongName) 2021" Level="1">
			<ComponentRef Id="RadeonProRender2021"/>
		</Feature>

		
	</Feature>

</Product>
</Wix>
