<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
<Product Id="$(env.RPR_MAX_PLUGIN_GUID)" Name="$(var.ProductLongName)" Language="1033" Version="$(var.Version)"
	Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">

	<Package InstallerVersion="405" Platform="x64" Compressed="yes" InstallScope="perMachine"/>

	<!-- Updates -->
	<MajorUpgrade
		AllowSameVersionUpgrades="yes"
		DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

	<!-- UI stuff -->
	<MediaTemplate EmbedCab="yes"/>

	<Icon Id="amd_icon.ico" SourceFile=".\amd_icon.ico"/>
	<Property Id="ARPPRODUCTICON" Value="amd_icon.ico" />

	<Binary Id='InstallerDll' SourceFile='$(var.InstallerDll)' />

	<CustomAction Id='PostInstall' BinaryKey='InstallerDll' DllEntry='postInstall' Return="ignore" />



	<CustomAction Id="AddSymbolicLinkMax2018" Directory="AUTODESK_MAX2018_FOLDER_PLUGINS" 
		ExeCommand='cmd /c mklink "[AUTODESK_MAX2018_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr" "[MAX2018_FOLDER]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />	
	<CustomAction Id="DelSymbolicLinkMax2018" Directory="AUTODESK_MAX2018_FOLDER_PLUGINS"
		ExeCommand='cmd /c del "[AUTODESK_MAX2018_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />
	<CustomAction Id="AddSymbolicLinkMax2019" Directory="AUTODESK_MAX2019_FOLDER_PLUGINS" 
		ExeCommand='cmd /c mklink "[AUTODESK_MAX2019_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr" "[MAX2019_FOLDER]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />	
	<CustomAction Id="DelSymbolicLinkMax2019" Directory="AUTODESK_MAX2019_FOLDER_PLUGINS"
		ExeCommand='cmd /c del "[AUTODESK_MAX2019_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />
	<CustomAction Id="AddSymbolicLinkMax2020" Directory="AUTODESK_MAX2020_FOLDER_PLUGINS" 
		ExeCommand='cmd /c mklink "[AUTODESK_MAX2020_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr" "[MAX2020_FOLDER]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />	
	<CustomAction Id="DelSymbolicLinkMax2020" Directory="AUTODESK_MAX2020_FOLDER_PLUGINS"
		ExeCommand='cmd /c del "[AUTODESK_MAX2020_FOLDER_PLUGINS]RadeonProRenderMaxPlugin.dlr"'
		Execute="deferred" Impersonate="no" Return="ignore" />


	
	<Property Id="OLD_VERSION_INSTALLED" Value="NotFound">
 		<RegistrySearch Id="OldVersionSearch" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\RadeonProRenderMaxPlugin"
 			Name="UninstallString" Root="HKLM" Type="raw" Win64="yes"/>
	</Property>

	<Condition Message="An old version of the plugin has been found. Please uninstall it then run setup.">
		<![CDATA[OLD_VERSION_INSTALLED = "NotFound"]]>
	</Condition>

	<UI Id="MyWixUI_Mondo">
		<UIRef Id="WixUI_Wizard" />
		<UIRef Id="WixUI_ErrorProgressText" />
	</UI>

	<WixVariable Id="WixUILicenseRtf" Value=".\license.rtf" />
	<WixVariable Id="WixUIBannerBmp" Value=".\rpr_banner.png" />
	<WixVariable Id="WixUIDialogBmp" Value=".\rpr_dialog.png" />

	<InstallExecuteSequence>
		<InstallInitialize/>
		<CreateFolders/>
		<InstallFiles/>
		<Custom Action="AddSymbolicLinkMax2018" Before="InstallFinalize">
			<![CDATA[(&Product2018=3 OR !Product2018=3) AND NOT (&Product2018=2)]]>
		</Custom>
		<Custom Action="DelSymbolicLinkMax2018" Before="InstallFinalize">
			REMOVE~="ALL" OR <![CDATA[(&Product2018 = 2) AND (!Product2018 = 3)]]>
		</Custom>
		<Custom Action="AddSymbolicLinkMax2019" Before="InstallFinalize">
			<![CDATA[(&Product2019=3 OR !Product2019=3) AND NOT (&Product2019=2)]]>
		</Custom>
		<Custom Action="DelSymbolicLinkMax2019" Before="InstallFinalize">
			REMOVE~="ALL" OR <![CDATA[(&Product2019 = 2) AND (!Product2019 = 3)]]>
		</Custom>
		<Custom Action="AddSymbolicLinkMax2020" Before="InstallFinalize">
			<![CDATA[(&Product2020=3 OR !Product2020=3) AND NOT (&Product2020=2)]]>
		</Custom>
		<Custom Action="DelSymbolicLinkMax2020" Before="InstallFinalize">
			REMOVE~="ALL" OR <![CDATA[(&Product2020 = 2) AND (!Product2020 = 3)]]>
		</Custom>
		<InstallFinalize/>
	</InstallExecuteSequence>

	
	<!-- Step 1: Define the directory structure -->
	<Directory Id="TARGETDIR" Name="SourceDir">

		<Directory Id="ProgramFiles64Folder">
			<Directory Id="AUTODESK_FOLDER" Name="Autodesk">
				<Directory Id="AUTODESK_MAX2018_FOLDER" Name="3ds Max 2018">
					<Directory Id="AUTODESK_MAX2018_FOLDER_PLUGINS" Name="Plugins"/>
				</Directory>
				<Directory Id="AUTODESK_MAX2019_FOLDER" Name="3ds Max 2019">
					<Directory Id="AUTODESK_MAX2019_FOLDER_PLUGINS" Name="Plugins"/>
				</Directory>
				<Directory Id="AUTODESK_MAX2020_FOLDER" Name="3ds Max 2020">
					<Directory Id="AUTODESK_MAX2020_FOLDER_PLUGINS" Name="Plugins"/>
				</Directory>
			</Directory>
			<Directory Id="AMD" Name="$(var.Manufacturer)">
				<Directory Id="PRODUCTS_FOLDER" Name="$(var.ProductsFolder)">
					<Directory Id="MAX_FOLDER" Name="Max">
						<Directory Id="PLUGINS_FOLDER" Name="plug-ins">
							<Directory Id="MAX2018_FOLDER" Name="2018"/>
							<Directory Id="MAX2019_FOLDER" Name="2019"/>
							<Directory Id="MAX2020_FOLDER" Name="2020"/>
						</Directory>
						<Directory Id="DR_DATA" Name="data"/>
						<Directory Id="DR_BIN" Name="bin"/>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		
	</Directory>

	<!-- Step 2: Add files to your installer package -->
	<DirectoryRef Id="DR_BIN"/>

	<DirectoryRef Id="DR_DATA"/>

	<DirectoryRef Id="MAX2018_FOLDER">
		<Component Id="RadeonProRender2018" Guid="f9c1913a-16d7-495c-b3bd-6720010078fa" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2018" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2018\RadeonProRenderMaxPlugin.dlr"/>
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="MAX2019_FOLDER">
		<Component Id="RadeonProRender2019" Guid="ea0e9b5a-4323-4969-b3ac-fb64901f3428" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2019" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2019\RadeonProRenderMaxPlugin.dlr"/>
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="MAX2020_FOLDER">
		<Component Id="RadeonProRender2020" Guid="8e727d56-09e6-4226-83d5-92c158768a83" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
			<File Id="RadeonProRenderMaxPlugin2020" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="RadeonProRenderMaxPlugin.dlr" Source="..\..\dist\plug-ins\2020\RadeonProRenderMaxPlugin.dlr"/>
		</Component>
	</DirectoryRef>

	<!-- Step 3: Tell WiX to install the files -->
	<Feature Id="Product" Title="$(var.ProductName)" Description="$(var.ProductLongName)" Level="1" Display="expand">

		<Feature Id="RprCore" Title="Radeon ProRender Core" Description="$(var.ProductLongName) Core" Level="1" Absent="disallow" AllowAdvertise="no">
			<ComponentGroupRef Id="CG_BIN"/>
			<ComponentGroupRef Id="CG_DATA"/>
		</Feature>

		<Feature Id="Product2018" Title="Support Max 2018" Description="$(var.ProductLongName) 2018" Level="1">
			<ComponentRef Id="RadeonProRender2018"/>
		</Feature>

		<Feature Id="Product2019" Title="Support Max 2019" Description="$(var.ProductLongName) 2019" Level="1">
			<ComponentRef Id="RadeonProRender2019"/>
		</Feature>

		<Feature Id="Product2020" Title="Support Max 2020" Description="$(var.ProductLongName) 2020" Level="1">
			<ComponentRef Id="RadeonProRender2020"/>
		</Feature>
		
	</Feature>

</Product>
</Wix>
